<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSLunarrator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C206E9FC1EE1676000E4E366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C206EA151EE1676100E4E366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C206EA201EE1676100E4E366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
